/* For tablets */

@media screen and (min-width: 800px) and (max-width: 1100px) {
    .photo{
        width: 300px;
        height: 300px;
    }

    .description__title{
        margin-bottom: 20px;
        font-size: 36px;
    }
    
    .description__text{
        width: 70%;
        margin-bottom: 20px;
        font-size: 12px;
        font-weight: 300;
        color: var(--grey);
    }

    .card__img{
        width: 300px;
        height: 200px;
    }


    .card__text{
        font-size: 10px;
    }

    .work__slider{
        width: 50%;
        margin-top: 60px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .work__img{
        width: 300px;
        height: 200px;
    }
}


/* For mobile */

@media screen and (min-width: 400px) and (max-width: 800px) {
    .header__section{
        flex-direction: column-reverse;
    }

    .header__description{
        text-align: center;
    }

    .photo{
        width: 300px;
        height: 300px;
    }

    .description__title{
        margin-bottom: 20px;
        font-size: 36px;
    }
    
    .description__text{
        margin: 0 auto;
        margin-bottom: 20px;
        font-size: 12px;
        font-weight: 300;
        color: var(--grey);
    }

    .section__text{
        width: 90%;
    }


    .section__card-left{
        flex-direction: column-reverse;
    }

    .section__card-right{
        flex-direction: column;
    }

    .card__img{
        width: 100%;
        height: 100%;
    }


    .card__text{
        font-size: 10px;
    }

    .work__slider{
        margin: 60px auto;
        display: grid;
        grid-template-columns: repeat(1, 2fr);
        grid-auto-flow: row;
        gap: 50px;
    }

    .work__title{
        text-align: center;
    }

    .work__text{
        text-align: center;
        width: auto;
    }

    .work__img{
        width: 100%;
        height: 100%;
    }
    
    input{
        width: 80vw;
    }
}
