:root{
    --black: #000000;
    --white: #FFFFFF;
    --green: #3F8E00;
    --dark-grey: #1B1B1B;
    --grey: #9C9C9C;
    --orange: #FFA217;
    --blue: #000AFF;
    --light-green: #2AB090;
}